@{
    ViewData["Title"] = "Chatroom: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Chatroom: <span class="text-info">@ViewBag.room.Name</span> <a class="float-right text-danger" href="/Chat">Leave chat</a></h2>
    <hr />

    @foreach(var message in ViewBag.messages)
    {
    <div class="row">
        <div class="col-2">@message.Username </div><div class="col-2">@message.DatetimeSend</div><div class="col-8"></div>

        <div class="col-12">@message.Content</div>
    </div>

    <hr />

    }

    <form method="post">
        <label for="message"></label>
        <textarea rows="3" class="form-control" name="message" id="message"></textarea>
        <br />
        <input class="btn btn-primary" type="submit" value="Send" />
    </form>
</div>