
obj/Debug

.vs/meldboek/v16
.vs/meldboek/DesignTimeBuild



obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Person/Home.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Forum/ForumHome.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Forum/Forum.cshtml.g.cs
obj/Debug/netcoreapp2.2/meldboek.Views.pdb
obj/Debug/netcoreapp2.2/meldboek.Views.dll
obj/Debug/netcoreapp2.2/meldboek.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/meldboek.assets.cache
bin/Debug/netcoreapp2.2/meldboek.Views.pdb
bin/Debug/netcoreapp2.2/meldboek.Views.dll
.vs/meldboek/v16/.suo
*.cache
obj/meldboek.csproj.nuget.dgspec.json
obj/meldboek.csproj.nuget.g.props
obj/project.nuget.cache
obj/project.assets.json
obj/meldboek.csproj.nuget.g.targets
