
obj/Debug/netcoreapp2.2/Razor/Views/Person/Newsfeed.cshtml.g.cs
obj/Debug/netcoreapp2.2/meldboek.Views.pdb
obj/Debug/netcoreapp2.2/meldboek.Views.dll
obj/Debug/netcoreapp2.2/meldboek.pdb
obj/Debug/netcoreapp2.2/meldboek.dll
bin/Debug/netcoreapp2.2/meldboek.Views.pdb
bin/Debug/netcoreapp2.2/meldboek.Views.dll
bin/Debug/netcoreapp2.2/meldboek.pdb
bin/Debug/netcoreapp2.2/meldboek.dll
.vs/meldboek/v16/.suo
.vs/meldboek/DesignTimeBuild/.dtbcache.v2
.vs/meldboek/v16/.suo
bin/Debug/netcoreapp2.2/meldboek.dll
bin/Debug/netcoreapp2.2/meldboek.pdb
obj/Debug/netcoreapp2.2/meldboek.dll
obj/Debug/netcoreapp2.2/meldboek.pdb
