
obj/Debug

.vs/meldboek/v16
.vs/meldboek/DesignTimeBuild



obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Person/Home.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Forum/ForumHome.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Forum/Forum.cshtml.g.cs
obj/Debug/netcoreapp2.2/meldboek.Views.pdb
obj/Debug/netcoreapp2.2/meldboek.Views.dll
obj/Debug/netcoreapp2.2/meldboek.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/meldboek.assets.cache
bin/Debug/netcoreapp2.2/meldboek.Views.pdb
bin/Debug/netcoreapp2.2/meldboek.Views.dll
.vs/meldboek/v16/.suo
obj/Debug/netcoreapp2.2/meldboek.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/meldboek.assets.cache
.vs/meldboek/v16/Server/sqlite3/storage.ide
.vs/meldboek/v16/.suo
*.cache
obj/meldboek.csproj.nuget.dgspec.json
obj/meldboek.csproj.nuget.g.props
obj/project.nuget.cache
obj/project.assets.json
obj/meldboek.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/meldboek.assets.cache
obj/Debug/netcoreapp2.2/meldboek.assets.cache
obj/Debug/netcoreapp2.2/meldboek.csprojAssemblyReference.cache

obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Person/Profile.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Chat/room.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Chat/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Admin/LogIn.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/meldboek.Views.pdb
obj/Debug/netcoreapp2.2/meldboek.Views.dll
obj/Debug/netcoreapp2.2/meldboek.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/meldboek.pdb
obj/Debug/netcoreapp2.2/meldboek.dll
obj/Debug/netcoreapp2.2/meldboek.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/meldboek.assets.cache
bin/Debug/netcoreapp2.2/meldboek.Views.pdb
bin/Debug/netcoreapp2.2/meldboek.Views.dll
bin/Debug/netcoreapp2.2/meldboek.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/meldboek.pdb
bin/Debug/netcoreapp2.2/meldboek.deps.json
bin/Debug/netcoreapp2.2/meldboek.dll
.vs/meldboek/v16/.suo
