<form action="FileUpload" method="post" enctype="multipart/form-data">
  
  <label for="file">Filename: </label>
  <input type="file" name="file" id="file" /><br>
    <label >Post Id: </label>

  <input type="string" required name = NewspostId id="NewspostId"><br>

  <input type="submit" value = "Upload" />
</form>