@{
    ViewData["Title"] = "Account aanmaken";
}

@model meldboek.Models.Person
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/Topbar_Sidenav.css">
        <style>
            body {
                font-family: 'Trebuchet MS', sans-serif;
            }

            .topbar {
                background-color: #ea9999;
                text-align: unset;
            }

            #h1-meldboek {
                color: #f2c0c0;
                width: 10%;
                padding-left: 30px;
            }

            #h1-createaccount {
                float: right;
                width: 59%;
            }

            .box {
                background: #ea9999;
                height: 300px;
                border-radius: 6px;
                padding: 50px 0px 40px 50px;
                margin-bottom: 25px;
            }

            .box h1 {
                color: #ffffff;
                font-size: 22px;
            }

            label {
                font-size: 20px;
                color: white;
            }

            input {
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 20px;
            }

            .button {
                background-color: #ffffff;
                width: 275px;
                padding: 10px 20px 10px 20px;
                color: #000000;
                border-radius: 25px;
                border: none;
                font-size: 22px;
                cursor: pointer;
                transition: 0.2s;
            }

            .button:hover {
                background-color: #f2c0c0;
            }

            #absoluteCenteredDiv {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 800px;
                height: 375px;
                text-align: left;
            }

            .row {
                width: 100%;
                margin: 0px 0px 20px 0px;
            }

            .column {
                float: left;
                margin: 0px 20px 0px 0px;
            }

            #login {
                text-decoration: none;
                color: #ea9999;
                font-size: 20px;
                transition: 0.2s;
            }

            #login:hover {
                color: #f2c0c0;
            }
        </style>
    </head>
    <body>
        <!-- Colored bar at the top of the page -->
        <div class="topbar">

            <!-- Page titles -->
            <h1 id="h1-meldboek">Meldboek</h1>
            <h1 id="h1-createaccount">Account aanmaken</h1>

        </div>

        <!-- Actual content of the page -->
        <div id="absoluteCenteredDiv">

            <!-- Form to create a new account -->
            <form asp-action="CreateAccount" method="post">
                <div class="box">
                    <div class="row">
                        <div class="column">
                            <h1>Voornaam</h1>
                            <input type="string" required name=firstname id="firstname" size="20">
                        </div>
                        <div class="column">
                            <h1>Achternaam</h1>
                            <input type="string" required name=lastname id="lastname" size="40">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <h1>Emailadres</h1>
                        <input type="string" required name=email id="email" size="40">
                    </div>
                    <div class="row">
                        <div class="column">
                            <h1>Wachtwoord</h1>
                            <input type="password" required name=password id="password" size="30">
                        </div>
                        <div class="column">
                            <h1>Wachtwoord herhalen</h1>
                            <input type="password" required name=password2 id="password2" size="30">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 70px;">
                        <input type="checkbox" id="ismanager" name="ismanager" value="true">
                        <label for="manager">Manager</label>
                    </div>
                    <input type="submit" class="button" value="Account aanmaken" id="submit">
                </div>
            </form>

            <!-- Link back to login page -->
            <a id="login" href="@Url.Action("Index1", "Login")">&#8592; Terug naar login</a>
        </div>
    </body>
</html>