@{
    ViewData["Title"] = "Groepen beheren";
}

@model meldboek.Models.Person

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Groepen.css">
    <style>
        #create-groups {
            text-decoration: none;
            color: #0000ff;
            font-size: 22px;
            transition: 0.2s;
        }

        #create-groups:hover {
            color: #b3b3ff;
        }
    </style>
</head>
<body>
    <div class="topbar">
        <h1>Beheer groepen</h1>
    </div>

    <a id="create-groups" href="@Url.Action("CreateGroups", "Admin")">Groep maken &#8594;</a>

    <div id="AddPersonToGroup">
        <a>Add Person to group</a> <br><br>
        <form asp-action="AddPersonToGroup" method="post">
            <a> Person id:</a><br>
            <input type="string" required name=PersonId id="PersonId"><br>
            <a>Group id:</a><br>
            <input type="string" required name=groupId id="groupId"><br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <div id="AddPersonToGroup">
        <a>Delete Person from group</a> <br><br>
        <form asp-action="DeletePersonFromGroup" method="post">
            <a> Person id:</a><br>
            <input type="string" required name=PersonId id="PersonId"><br>
            <a>Group id:</a><br>
            <input type="string" required name=groupId id="groupId"><br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
</body>
</html>