/* h1 {
  color: white;
  background-color: orange;
  font-size: 28px;
  padding-bottom: 15px;
  padding-top: 40px;
  text-align: center;
} */

#AddPersonToGroup {
  /* width: 320px; */
  padding: 10px;
  border: 2px solid red;
  margin: 10px;
  margin-top: 110px;
}

a {
  font-size: 18px;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

input[type="submit"] {
  font-family: "Trebuchet MS", sans-serif;
  background-color: orange;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: orange;
  color: #ffffff;
  font-size: 34px;
  width: 100%;
  text-align: right;
  height: 74px;
  padding-bottom: 25px;
}

.topbar h1 {
  color: #ffffff;
  font-size: 34px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
